# ------------------------------------------------------------------------------
# ~/.gitattributes
# Git attribute settings for J1 Template run-time systems
#
# Product/Info:
# https://jekyll.one
#
# Copyright (C) 2022 Juergen Adams
#
# J1 Template is licensed under the MIT License.
# See: https://github.com/jekyll-one-org/J1 Template/blob/master/LICENSE
#
# ------------------------------------------------------------------------------

# Enforce Unix newlines, all text files
# ------------------------------------------------------------------------------
* text=auto eol=lf
