<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>iFrame message passing test 1</title>
  <meta name="description" content="iFrame message passing test 1">
  <meta name="viewport" content="width=device-width">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="robots" content="noindex">
  <meta name="robots" content="nofollow">

  <link rel="stylesheet" href="/assets/themes/j1/core/css/themes/unolight/bootstrap.css">
  <link rel="stylesheet" href="/assets/themes/j1/core/css/vendor.css">

  <script src="/assets/themes/j1/modules/jquery/js/jquery.js"></script>
  <script src="/assets/themes/j1/modules/popper/js/popper.js"></script>
  <script src="/assets/themes/j1/modules/iframeResizer/js/client/iframeResizer.contentWindow.js"></script>
</head>

  <body class="r-text-200 js-toc-content">

    <p id="callback"></p>

    <b>iFrame options: </b>
    &nbsp;
    <a id="nested" href="frame.nested.html">Nested</a>
    &nbsp;
    <a href="frame.hover.html">Hover</a>
    &nbsp;
    <a href="frame.textarea.html">TextArea</a>

    <div class="paragraph mt-3">

      <p>
        But I must explain to you how all this mistaken idea of denouncing
        pleasure and praising pain was born and I will give you a complete account
        of the system, and expound the actual teachings of the great explorer of
        the truth, the master-builder of human happiness. No one rejects,
        dislikes, or avoids pleasure itself, because it is pleasure, but because
        those who do not know how to pursue pleasure rationally encounter
        consequences that are extremely painful. Nor again is there anyone who
        loves or pursues or desires to obtain pain of itself, because it is pain,
        but because occasionally circumstances occur in which toil and pain can
        procure him some great pleasure. To take a trivial example, which of us
        ever undertakes laborious physical exercise, except to obtain some
        advantage from it? But who has any right to find fault with a man who
        chooses to enjoy a pleasure that has no annoying consequences, or one who
        avoids a pain that produces no resultant pleasure?
      </p>
      <p>
        On the other hand, we denounce with righteous indignation and dislike men
        who are so beguiled and demoralized by the charms of pleasure of the
        moment, so blinded by desire, that they cannot foresee the pain and
        trouble that are bound to ensue; and equal blame belongs to those who fail
        in their duty through weakness of will, which is the same as saying
        through shrinking from toil and pain. These cases are perfectly simple and
        easy to distinguish. In a free hour, when our power of choice is
        untrammelled and when nothing prevents our being able to do what we like
        best, every pleasure is to be welcomed and every pain avoided. But in
        certain circumstances and owing to the claims of duty or the obligations
        of business it will frequently occur that pleasures have to be repudiated
        and annoyances accepted. The wise man therefore always holds in these
        matters to this principle of selection: he rejects pleasures to secure
        other greater pleasures, or else he endures pains to avoid worse pains.
      </p>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
        veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
        commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
        velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat
        cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id
        est laborum.
      </p>
      <p>
        Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi
        ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit
        in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur
        sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt
        mollit anim id est laborum.
      </p>

    </div>





    <script>
      var iFrameResizer = {
        onResized: function(messageData) {

          $('p#callback').html (
            '<b>Frame ID:</b> '    + messageData.iframe.id +
            ' <b>Height:</b> '     + messageData.height +
            ' <b>Width:</b> '      + messageData.width +
            ' <b>Event type:</b> ' + messageData.type
          );
        },
        onMessage: function(messageData) {
          $('p#callback').html (
            '<b>Frame ID:</b> '    + messageData.iframe.id +
            ' <b>Message:</b> '    + messageData.message
          );
        }
      }
    </script>


  </body>
</html>
